
<%= search_form_for @search do |f| %>
  <p class="margin-0">
    <%= f.label :area_eq, t('recruitment.search.area'), class: "nav-search-title" %>
    <%= f.select :area_eq, Recruitment.areas.map{|k, v| [Recruitment.areas_i18n[k], v]}, {:include_blank => t('recruitment.search.placeholder')}, {class: 'mdb-select md-form vertical-middle'} %>
    <%= f.submit t('recruitment.search.submit'), class: "btn btn-light" %>
  </p>
<% end %>