<div class="container">
  <h1 class="text-center">人気ランキング</h1>

  <%= link_to '募集一覧へ', recruitments_path, class: 'btn btn-primary' %>

  <div class='mb-3'>
    <table class='table table-hover'>
      <thead class='thead-default'>
        <tr>
          <th>人気エリア</th>
          <th>部屋数</th>
        </tr>
      </thead>
      <tbody>
        <% @popular_areas.each do |p_area, point| %>
          <tr>
            <td><%= p_area %></td>
            <td><%= point %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>