body {
  background-image: url(bg.jpg);
 }

 .intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
  background-size: cover;
}
.view {
  margin-top: -56px;
}
#position_fixed{
  position: fixed;
  width: 100%;
  top: 0;
}
html,
body,
header,
.view {
  height: 550px;
}
.vertical-middle{
  margin: 0;
  vertical-align: middle;
}
.margin-0{
  margin:0;
}
.nav-search-title{
  color: white;
  padding-right: 1rem;
  margin-bottom: 0;
}

.view {
  background: url("https://www.darksouls.jp/static/img/lineup/detail/screenshot/product_099_2.jpg")no-repeat center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}
.navbar {
  z-index: 1;
}

html,
body,
header,
.view {
  height: 550px;
}
.mt-50{
  margin-top: 60px;
}