body {
  background-image: url(bg.jpg);
 }

 .intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
  background-size: cover;
}
.view {
  margin-top: -56px;
}
.navbar {
  z-index: 1;
}
html,
body,
header,
.view {
}